body{
    padding: 0;
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    text-align: center;
}

.anim{
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    color: white!important;
}

@keyframes bgcolor {
    0% {
        background-color: #e32d1c;
    }

    15% {
        background-color: #ef8d10;
    }

    30% {
        background-color: #f2cc42;
    }

    50% {
        background-color: #4ea432;
    }

    70% {
        background-color: #37b6c8;
    }

    90% {
        background-color: #4B0082;
    }

    100% {
        background-color: #a637c8;
    }
}

#switcher{
    list-style: none;
}

#switcher li{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: 3px solid black;   
    margin: 10px 40px;
    display: inline-block; /*gives the opportunity for the "text-align: center" to work*/
    cursor: pointer;
}

#button1, #button2, #button3{
    cursor: pointer;
    width: 100px;
    height: 50px;
    border-radius: 5%;
    font-size: 12px;
}

#red{
    background-color: #e32d1c;
}

#orange{
    background-color: #ef8d10;
}

#yellow{
    background-color: #f2cc42;
}

#green{
    background-color: #4ea432;
}

#blue{
    background-color: #37b6c8;
}

#indigo{
    background-color: #4B0082;
}

#violet{
    background-color: #a637c8;
}